@import '../../styles/style.scss';


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $purple;
  -webkit-text-fill-color: $purple;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.Login,.Signup,.ForgotPassword{
    &>.row{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-wrapper{
        .row:first-child{
            .top-login-column, .top-signup-column{
                margin-bottom: 20px;
            }
            .welcome-heading{
                color: $app-dominant-color;
                margin-bottom: 0;
            }
            .login-notice,.signup-notice{
                color:$dark-gray;
            }
        }
        
        .form-group{
            margin-bottom: 15px;

            @media (min-width:$mobile-min-screen){
                margin-bottom: 20px;
            }
            .label:not(.country_label){
                margin-bottom: 0px;
    
                @media (min-width:$mobile-min-screen){
                    display: none;
                }
            }
            .forgot-password{
                &-link{
                    color:$dark-gray;
                    font-weight: bold;

                    &:hover{
                    text-decoration: underline;
                    }
                }
                @media (max-width:$mobile-max-screen) {
                    display: none !important;
                }
            }
            
            .form-control{
                width:100%;
                padding: 7px 10px;
                border-radius: 5px;
                border: none;
                box-shadow: 0 0 0px 1px $gray;
                background: white;
        
                @media (min-width:$mobile-min-screen){
                    box-shadow: none;
                    border-bottom: solid 2px #cccccc;
                    border-radius: 0;
                    padding-bottom: 20px;
                    padding-left: 0;

                }
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    background: $white;
                }
            }
            .notice-link{
                color:$app-dominant-color;
                font-weight: bold;
                &:hover{
                    text-decoration: underline;
                }
            }

            .signup-link{
                margin-left: 5px;
            }
        }
        .form-group-btn{
            outline: none;
            padding: 6px 0;
        }

        .error-text{
            margin-bottom: 0;
            margin-top: 10px;
            color: $error-color;
            text-align:center;
        }
        .input-error-text{
            color:$error-color;
            margin-bottom: 0;
        }
        .success-text{
            margin-bottom: 0;
            margin-top: 10px;
            color: $success-color;
            text-align:center;
        }
        .login-btn,.signup-btn,.forgotpassword-btn{
            position: relative;
            min-height: 40px;
            
            .preloader-wrapper{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                text-align: center;
                display: flex;
                justify-content: center;

                .preloader{
                    display: block;
                }
            }
        }

    
    }
        .text-muted{display: none;}
    .right-container{
        @media (max-width:$mobile-max-screen) {
            display:none;
        }
    }
}

.Login2{
    background: $app-dominant-color;
    color:white;
    button{
        @include button;
    }
    .content-container{
        min-height: 100vh;
        
        .title{
            margin: 5rem 0;
            text-align: center;
        }

        .tab-control{
            position: relative;
            margin-bottom: 10px;
            .btn:not(.show){
                color: $gray;
            }
            .btn{
                width: 5rem;
                font-size: 13px;
            }
            .btn.signin{
                margin-right: 0.5rem;
            }
            .btn.forgot{
                position: absolute;
                right: 0;
            }
        }

        .tab-content:not(.show){
            display: none;
        }
        .caret{
            position: absolute;
            top: -7px;
        }
        .signin-content{
            .caret{
                left: 3rem;
            }
        }
        .signup-content{
            .caret{
                left: 8rem;
            }
        }
        .forgot-content{
            .caret{
                right: 3rem;
            }
        }
        .tab-content{
            padding-left: 1.2rem;
            position: relative;

            .caret{
                width: 0;
                height: 0;
                border-right: solid 10px transparent;
                border-left: solid 10px transparent;
                border-bottom: 10px solid white;
            }

            .form-group{
                margin-bottom: 10px;

                .form-control{
                    padding: 0.5rem 1rem;
                    width: 100%;
                    border-radius: 5px;
                    border: none;
                    background: white;
                }
            }
        }

        .submit-btn{
            width: 100%;
            background: #5a48c7;
            padding: 1rem;
        }

        .error-text{
            color: #ffafaf;
        }
        .success-text{
            color: #37d237;
        }
    }
}