@import '../../styles/style.scss';

@mixin button {
    width: 8rem;
    border-radius: 5px !important;
    padding: 0.7rem;
    font-size: 12px;
}

.Dashboard {
    font-size: 14px;
    .row {
        margin-bottom: 10px;
    }
    .content-row{
        margin-bottom: 1rem;
    }

    .form {
        margin-top: 2rem;

        .form-group {
            margin-bottom: 20px;

            .form-control {
                background: $white;
                box-shadow: 0px 1px 1px $box-shadow-colo-1;
                padding: 7px 15px;
                outline: none;
                border-radius: 0px;
                border: none;
                cursor: pointer;
                width: 100%;
            }
        }
    }

    .tags-row {
        margin-bottom: 3rem;
        .selected-tags-wrapper{
            margin-bottom: 1rem;
        .selected-tags {
            text-align: center;
            font-size: 20px;
            @media (max-width:$mobile-max-screen) {
                text-align:center;
            }
        }
    }

        .tags-wrapper {
            text-align: center;
            .tag {
                background: #dcdbdb;
                padding: 5px 8px;
                border-radius: 20px;
                margin-right: 5px;
                position: relative;
                margin-right: 1rem;

                .tag-text{
                    display: inline-block;
                }
            }

            .delete-tag {
                margin-right: 0.5rem;
                cursor: pointer;
                font-weight: bold;
                background: $light-black;
                border-radius: 100%;
                color: $light-gray;
                width: 1rem;
                height: 1rem;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .upload-resources-heading-row {
        margin-bottom: 2rem;

        .upload-text {
            padding: 1rem;
            font-weight: bolder;
            font-size: 1.5rem;

            @media (max-width:$mobile-max-screen){
                font-size: 1.3rem;
                text-align: center;
            }
        }
    }

    .resources-btn-row {
        margin-bottom: 2rem;

        .check {
            margin-right: 10px;
            @media (max-width:$mobile-max-screen){
                display: none;
             }
        }

        .btn-wrapper {
            padding-left: 3rem;
            @media (max-width:$mobile-max-screen){
               padding-left: 1rem;
            }

            .btn{
                margin-right: 0.625rem;
                width: 30rem !important;
                padding: 0.4rem;
            }

            .btn:not(.active){
                background: none;
                border: solid 1px $gray;
                color: $gray;
            }
            .btn.active {
                background: $app-dominant-color;
            }
        }
    }

    .content-row {
        .text-content {
            padding-left: 0;

            &-form-group{
                padding-left: 0;
            }
            .edit-icon{
                position: absolute;
                top: 9px;
                left: 0.2rem;
                color:$gray;
            }
            .text-form-control{
                padding:5.5px 1.5rem !important;
            }
            .form-group-btn {
                text-align: center;
                .btn {
                    width: 8rem;
                    border-radius: 5px !important;
                    padding: 0.7rem;
                    font-size: 12px;
                }
            }
        }

        .pdf-content,.image-content,.video-content {
            padding-left: 0;
            .or{
                @media (max-width:$mobile-max-screen){
                    text-align: center;
                }
            }
            .btn-wrapper{
                text-align: center;
                .add-image-btn,.add-pdf-btn,.add-video-btn{
                    @include button;
                }
            }
            .image-wrapper,.pdf-wrapper,.video-wrapper {
                position: relative;
                
                .image-input-control,.pdf-input-control, .video-input-control{
                    text-align: left;
                }
                .file {
                    display: none;
                }
            }

            .add-icon-wrapper {
                position: absolute;
                top: 0.4rem;
                right: 1rem;
                border: solid 1px $dark-gray;
                border-radius: 50%;
                width: 1.5rem;
                height: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background: $light-gray;
                }
            }
        }

        .content {
            &:not(.show) {
                display: none;
            }

            .form-control {
                //border-radius: 0;
            }
        }
    }

    .upload-btn-row {
        .btn-wrapper {
            text-align: right;
            .btn {
                margin-left: 1.5rem;
                @include button;
            }
        }
    }
}