$app-dominant-color:#7B68EE;;
$app-dominant-color-deep:#6b59da;
$purple: #7B68EE;
$black:#212529;
$gray:#cecece;
$white:white;
$app-red: #F1467A;
$error-color:red;
$success-color:green;
$dark-gray:#9e9a9a;
$mobile-max-screen:575px;
$mobile-min-screen:576px;