@import '../../../styles/style.scss';

@mixin border {
    border: 1px solid #DFE3E8;
}

@mixin card {
    width: 20rem;
    background: white;
    @include border;
    padding: 0.5rem;

    &:hover {
        background: #f9fbfd;
    }

    .pending-count,
    .uploads-count,
    .approved-count {
        margin: 0 3px;
    }

    .details-wrapper {
        .details {
            .name {
                font-weight: bold;
                margin-bottom: 0.5rem;
            }

            .uploads {
                margin-bottom: 0.5rem;
            }

            .approved-pending {
                margin-bottom: 0;

                .icon {
                    margin-right: 5px;

                    .pending-icon {
                        color: $app-red;
                    }

                    .approved-icon {
                        color: green;
                    }
                }
            }
        }

        .approve-pending-popup {
            position: relative;

            .icon {
                cursor: pointer;
            }

            .caret {
                position: absolute;
                width: 0;
                height: 0;
                border-right: solid 10px transparent;
                border-left: solid 10px transparent;
                border-bottom: 10px solid #eaeaea;
                top: -10px;
                left: 46px;
            }

            .approved-pending {
                position: absolute;
                list-style: none;
                padding: 0;
                border-radius: 10px;
                display: none;
                top: 2.4rem;
                left: -42px;
                width: 7rem;
                background: #eaeaea;
                z-index: 100;

                .list {
                    cursor: pointer;
                    padding: 5px;
                    text-align: center;

                    &:hover {
                        /*background: #e6e6e6;*/
                        background: #6b59da;
                        color: $white;
                    }
                }

                .first-list {
                    border-bottom: solid 1px #d0cccc;
                }
            }
        }

        .image {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            border: solid 2px $app-dominant-color;

            .img {
                border-radius: 100%;
            }
        }
    }

    .stats {
        .pending {
            padding-right: 10px;
            border-right: solid;

            .pending-icon {
                color: gray;
                margin-right: 5px;
            }
        }

        .approved {
            padding-left: 10px;

            .approved-icon {
                color: green;
                margin-right: 10px;
            }
        }
    }
}

.Researcher {
    .row {
        margin-bottom: 1rem;
    }

    .researchers-title {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .cards-row {
        margin-bottom: 1rem;

        .card {
            @include card;

            .icon {

                .caret-grid {
                    padding: 0;
                    list-style: none;
                }

                .icon-wrapper {
                    cursor: pointer;
                }
            }
        }
    }

    .resources-btn-row {
        margin-bottom: 2rem;

        .check {
            margin-right: 10px;

            @media (max-width: $mobile-max-screen) {
                display: none;
            }
        }

        .btn-wrapper {
            padding-left: 3rem;

            @media (max-width: $mobile-max-screen) {
                padding-left: 1rem;
            }

            .btn {
                margin-right: 0.625rem;
                width: 30rem !important;
                padding: 0.4rem;
            }

            .btn:not(.active) {
                background: none;
                border: solid 1px $gray;
                color: $gray;
            }

            .btn.active {
                background: $app-dominant-color;
            }
        }
    }

    .content-row {

        .text-content,
        .pdf-content,
        .image-content,
        .video-content {

            .text-resource.odd {
                padding-bottom: 50px !important;
            }

            .text-resource {
                margin-bottom: 15px;
                background: white;
                border-radius: 5px;
                padding: 0px;
                border: solid 1px #e6e6e6;

                .card-subject {
                    position: relative;

                    .approve-pending-popup {
                        position: absolute;
                        right: 0;
                        top: 5px;

                        .icon {
                            cursor: pointer;
                        }

                        .caret {
                            position: absolute;
                            width: 0;
                            height: 0;
                            border-right: solid 10px transparent;
                            border-left: solid 10px transparent;
                            border-bottom: 10px solid #eaeaea;
                            top: -10px;
                            left: 46px;
                        }

                        .approved-pending {
                            position: absolute;
                            list-style: none;
                            padding: 0;
                            border-radius: 10px;
                            display: none;
                            top: 2.4rem;
                            left: -42px;
                            width: 7rem;
                            background: #eaeaea;
                            z-index: 100;

                            .list {
                                cursor: pointer;
                                padding: 5px;
                                text-align: center;

                                &:hover {
                                    /*background: #e6e6e6;*/
                                    background: #6b59da;
                                    color: $white;
                                }
                            }

                            .first-list {
                                border-bottom: solid 1px #d0cccc;
                            }
                        }
                    }
                }

                .card-body,
                .card-title,
                .card-subject,
                .card-topic {
                    padding: 5px;
                }

                .card-title {
                    overflow: hidden;
                }

                .card-body {
                    border-bottom: solid 1px #e6e6e6;

                    .p {
                        overflow: hidden;
                        margin-bottom: 0;
                        display: inline-block;
                        width: 100%;
                        word-break: break-all;
                        white-space: normal;

                        .span {
                            display: inline-block;
                            text-align: left;
                            font-size: 20px;
                            line-height: 0;
                            color: #b1b1b1;
                        }
                    }
                }
            }

            .pdf-resource {}

            .image-resource {
                img {
                    min-height: 8rem;
                    max-height: 10rem;
                }
            }
        }
    }
}