@import '../../styles/style.scss';

@mixin border{
    border: 1px solid #DFE3E8;
}
@mixin borderBottom {
    border-bottom: 1px solid #DFE3E8;
}

.Account{

    .card-column{
        @media (max-width:$mobile-max-screen){
            padding: 0 0px;
            margin-bottom: 20px;
        }
        @media (max-width:770px){
            padding: 0;
        }
        .card{
            min-width: 18.75rem;
            background: $white;
            border-radius: 5px;
            height: 307px;
            @include border;
            

            .card-body{
                padding-bottom: 20px;
                padding-top: 20px;
                border-bottom: 1px solid $tinted-gray;
                .name-container{
                    .name-wrapper{
                        .address{
                            color: gray;
                        }
                    }
                }
                .image-container{
                    padding-left: 0;
                    .user-icon-wrapper{
                        .user-icon{
                            width: 100px;
                            height: 100px;
                            border: solid;
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            color: $darkgray;

                            .img{
                                height: 100%;
                                border-radius: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }

            .card-footer{
                padding: 1rem 1rem;
                text-align: center;
                .upload-picture{
                    color: $app-dominant-color;
                    &:hover{
                        background: rgba(100, 110, 203,0.1);
                    }
                }
                .remove-picture{
                    &:hover{
                        background: $light-gray;
                        border-radius: 5px;
                    }
                }
                .upload-picture,.remove-picture{
                    padding: 5px;
                    margin-bottom: 0;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    font-weight: bold;
                    font-size: 14px;
                    cursor: pointer;
                    width: 10rem;
                    display: inline-block;

                    .image-input{
                        display: none;
                    }
                }
            }
        }
    }

    .form-column{
        background: $white;
        @include border;

        @media (max-width:770px){
            margin-top: 20px;
        }
        .header{
            padding: 1rem 1.5rem;
            @include borderBottom;

            .profile{
                margin-bottom: 0;
                font-weight: bold;
                margin-right: 10px;
            }
            .notice{
                font-weight: bold;
                color: $dark-gray;
            }
        }

        .form{
            padding: 0rem;
            .inputs-wrapper{
                width:100%;
                padding: 1rem 0.5rem;
            }
            .form-group{
                margin-bottom: 20px;
                position: relative;
                .label{
                    display: inline-block;
                    font-size: 11px;
                    background: white;
                    position: absolute;
                    top: 0;
                    left: 25px;
                    padding: 0 5px;
                }
                .form-control{
                    margin-top: 7px;
                    padding: 0.5rem;
                    border: solid 1px $gray;
                    border-radius: 5px;
                    display: inline-block;
                    width: 100%;
                    outline: none;

                    &:-webkit-autofill,
                    &:-webkit-autofill:hover, 
                    &:-webkit-autofill:focus, 
                    &:-webkit-autofill:active  {
                        -webkit-box-shadow: 0 0 0 30px $white inset !important;
                    }
                    
                    &::placeholder{
                        background: $white;
                    }
                    &:hover{
                        border-color: $black;
                    }

                    &:not(.category):focus{
                        border:solid 2px $app-dominant-color;
                    }

                @media (max-width:$mobile-max-screen) {
                    width:100%
                }
                }
            }
            .form-group.btn-wrapper{
                border-top: solid 1px $gray;
                padding: 1rem 1.5rem;
                margin-bottom: 0;

                .btn{
                    @include button;

                    &:disabled{
                        background: $gray;
                    }
                }
                [class$="feedback"]{
                    font-size: 13px;
                    margin-bottom: 0;
                    display: inline-block;
                    margin-left: 10px;
                    background: #fff8f8;
                    font-weight: bold;
                }
                .error-feedback{
                    color:red;
                }
                .success-feedback{
                    color: green;
                }
            }
        }
    }

    .resources-row{
        margin-top: 1rem;
        margin-left: 0px;
        display: block;
        white-space: nowrap;


        .text-content,.pdf-content,.image-content,.video-content{

            .text-resource.odd{
                padding-bottom: 50px !important;
            }
            .text-resource{
                margin-bottom: 15px;
                background: white;
                border-radius: 5px;
                padding: 0px;
                border: solid 1px #e6e6e6;
                .card-body,.card-title,.card-subject,.card-topic{
                    padding: 5px;
                }
                .card-title{
                    overflow: hidden;
                }
                .card-body{
                    border-bottom: solid 1px  #e6e6e6;
                    .p{
                        overflow: hidden;
                        height: 5rem;
                        margin-bottom: 0;
                        display: inline-block;
                        width: 100%;
                        word-break: break-all;
                        white-space: normal;
    
                            .span{
                                display: inline-block;
                                text-align: left;
                                font-size: 20px;
                                line-height: 0;
                                color: #b1b1b1;
                            }
                    }
                }
            }

            .pdf-resource{

            }

            .image-resource{
                img{
                    min-height: 8rem;
                    max-height: 10rem;
                }
            }
        }
    }
    .upload-resources-heading-row {
        margin-bottom: 1rem;

        .upload-text {
            padding: 1rem;
            font-weight: bolder;
            font-size: 1.5rem;

            @media (max-width: $mobile-max-screen) {
                font-size: 1.3rem;
                text-align: center;
                padding: 0;
            }
        }
    }
    .resources-btn-row {
        margin-bottom: 2rem;

        .check {
            margin-right: 10px;

            @media (max-width: $mobile-max-screen) {
                display: none;
            }
        }

        .btn-wrapper {
            padding-left: 3rem;

            @media (max-width: $mobile-max-screen) {
                padding-left: 1rem;
            }

            .btn {
                margin-right: 0.625rem;
                width: 30rem !important;
                padding: 0.4rem;
            }

            .btn:not(.active) {
                background: none;
                border: solid 1px $gray;
                color: $gray;
            }

            .btn.active {
                background: $app-dominant-color;
            }
        }
    }

    .content-row {
        
        .content {
            &:not(.show) {
                display: none;
            }

            .form-control {
                //border-radius: 0;
            }
        }
    }
}