@import '../../../styles/style.scss';

button{
    width: 100%;
    border: none;
    padding: 5px 10px;
    color: white;
    background: $app-dominant-color;
    border-radius: 25px !important;
    font-weight: bold;
    outline: none !important;

    &:hover{
        background: $app-dominant-color-deep;
    }
}