@import '../styles/style.scss';

.Protected{
    background: $light-gray;
    padding-top: 60px;
    transition: 1s all;

    @media (max-width:1200px) {
        margin-left: 0 !important;
        width: 100% !important;
    }

    .content-wrapper{
        @media (min-width:$mobile-min-screen){
            padding: 2rem;
        }
    }
}